:root{
    --headerColor: #d9eed9;
    --navColor:#4CAF50 ;
    --primaryColor:rgba(241, 237, 237, 0.701);
    --articlColor:white;
    --textColor:black;
    --priceColor:rgb(47, 169, 47);
    --foterBgColor: #124314;
    --footerTxtColor:white;
    --lihoverColor:rgb(210, 209, 209);
}
*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: var(--primaryColor);
}
header{
    width: 100%;
    text-align: center;
    height: 8em;
    padding: 40px;
    background-color: var(--headerColor);
}
nav ul{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
li{
    padding: 5px;
}
li:hover{
    background-color: var(--lihoverColor);

}
li a{
    font-size: 15px;
    font-weight: bolder;
    color: var(--priceColor);
}
main{
    width: 100%;
    padding: 30px;
    
}
h2{
    padding-left: 50px;
    margin-bottom: 5px;
    
}
h3{
    text-align: center;
    margin-bottom: 10px;
}
p{
    text-align: center;
    font-size: 12px;
}
.product-list{
    padding: 35px;
}
#section1,
#section2,
#section3
{
    display: flex;
    justify-content: space-evenly;
}
.product{
    width: 220px;
    height: 400px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--articlColor);
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.image-container{
    width: 170px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;

}
.image-wrapper{
    width: 170px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;

}
.price{
    color: var(--priceColor);
    font-size: 15px;
}

footer{
    height: 8em;
    background-color: var(--foterBgColor);
    text-align: center;
    color: var(--footerTxtColor);
    padding: 50px;
    
}
@media(max-width:1024px ){
    main{
       padding: 100px;
    }
    #section1,
    #section2,
    #section3{
        display: block;
        justify-content: space-evenly;
    }
    .product{
        width: 500px;
        margin-bottom: 50px;
    }
    .image-wrapper{
        width: 300px;
        margin-left: 50px;
    }
    .image-container{
        width: 300px;
        margin-left: 50px;
    }
}
@media(max-width:640px ){
    
    #section1,
    #section2,
    #section3{
        display: block;
        justify-content: space-evenly;
    }
    .product{
        width: 300px;
        height: 380px;
        padding-top: 50px;
       
    }
    .image-container{
        width: 170px;
        
    }
    main{
        padding: 30px;
     }
}